{
	"extends": ["@sapphire"],
	"rules": {
		"no-case-declarations": "off"
	},
	"overrides": [
		{
			"files": ["documentation/src/env.d.ts"],
			"rules": {
        "@typescript-eslint/triple-slash-reference": "off",
        "spaced-comment": "off"
			}
		}
	]
}
